# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

src/place/batchAddFilesToDB.php
src/OLD/
src/NEW/
src/conceptTest1.php
src/conceptTest2.php
src/ConceptTest3.py
src/ConceptTest4.php

